<form (submit)="onSubmit()">
    <md-card [ngStyle]="{ width:'20em', margin: '20px auto'}">
        <div>
            <md-input-container [ngStyle]="{ width: '100%' }">
                <input md-input placeholder="メールアドレス" name="username" type="username" [(ngModel)]="username" required>
            </md-input-container>
        </div>
        <div>
            <md-input-container [ngStyle]="{ width: '100%' }">
                <input md-input placeholder="パスワード" name="password" type="password" [(ngModel)]="password" required>
            </md-input-container>
        </div>
        <div>
            <button md-raised-button color="primary" type="submit">ログイン</button>
        </div>
    </md-card>
</form>