span {
    vertical-align: baseline;
}

.week-selector {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}

.week, button {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}

.spacer {
  flex: 1 1 auto;
}

@media screen and (max-width:600px) {
    .from-day-to-day {
        display: none;
    }
}