@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
}

* {
  font-family: "Meiryo"
}

md-sidenav-layout {
  position: absolute !important;
  width: 100%;
  top:0;
  bottom: 0;
}